$gradient-color-1: #8358e8;
$gradient-color-2: #4c72e6;

.studyset-wrap {
  display: flex;
  flex-direction: row;
  row-gap: 50px;
  column-gap: 50px;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 100%;

  .studyset {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 273px;
    background-color: white;
    border-radius: 16px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.16));

    &:hover {
      //transform: scale(1.025);
      filter: drop-shadow(0px 6px 15px rgba(0, 0, 0, 0.2));
    }

    .contents {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 40px;
      height: 100%;

      .set-icon {
        width: 181px;
        height: 184px;
        margin-left: 35px;
        margin-top: -15px;
        min-width: 181px;
        .background {
          background: #8358e8;
          width: 100%;
          height: 100%;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .label-background {
          background: #9f7eec;
          border-radius: 0px 0px 25px 25px;
          width: 100%;
          height: 40px;
          margin-top: -25px;
          display: flex;
          justify-content: center;
          align-items: center;

          a {
            color: white;
            text-align: center;
            width: 100%;
            font-weight: 500;
            font-size: 20px;
          }
        }
      }

      .set-data {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
        margin-top: -75px;

        .set-title {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 600;
          font-size: 28px;
          font-family: "Open Sans";
          margin-top: 20px;
          width: 300px;
        }

        .set-info {
          font-family: "Open Sans";
          font-weight: 500;
          font-size: 18px;
        }

        .set-desc {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 18px;
          font-family: "Open Sans";
          line-height: 30px;
           width: 300px;
        }
      }

      .creator-data {
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 25px;

        .separation-line {
          width: 1px;
          height: 273px;
          opacity: 21%;
          background: #707070;
          position: absolute;
        }

        .creator-info {
          margin-right: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          cursor: pointer;
          transition: all 0.2s;

          .creator-avatar {
            border-radius: 100%;
            width: 52px;
            height: 52px;
          }

          .creator-username {
            font-family: "Open Sans";
            font-weight: 500;
            font-size: 18px;
          }

          &:hover {
            color: #8358e8;
          }
        }

        .mastery-progress {
          display: flex;
          flex-direction: column;

          .mbar {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;

            .mastery-label {
              color: #8358e8;
              font-size: 20px;
              font-weight: 600;
              font-family: "Open Sans";
            }

            .mastery-bar {
              background-color: #e1e1e1;
              border-radius: 100px;
              width: 92px;
              height: 8px;

              .fill {
                background-color: #8358e8;
                border-radius: 100px;
                width: 20%;
                height: 100%;
              }
            }
          }

          .label {
            font-family: "Open Sans";
            color: #a8a8a8;
            font-size: 16px;
            font-weight: 600;
          }
        }

        .study-button {
          border-radius: 20px;
          color: white;
          font-family: "Plus Jakarta Sans", sans-serif;
          font-weight: 600;
          width: 163px;
          height: 46px;
          text-align: center;
          background: linear-gradient($gradient-color-1, $gradient-color-2);
          display: flex;
          font-size: 20px;
          justify-content: center;
          align-items: center;
          transition: 0.3s;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 0px 4px 1px #8358e8;
          }
        }
      }
    }
  }
}
@media (max-width: 1424px) {
  .set-desc , .set-title {
     width: 230px  !important;
     
  }
}
@media (max-width: 2100px) {
  .set-data {
    width: 40% !important;
  }
}
@media (max-width: 1800px) {
  .set-data {
    width: 36% !important;
  }
}
@media (max-width: 1500px) {
  .set-data {
    width: 30% !important;
  }
}
@media (max-width: 1200px) {
    .set-data {
        width: 26% !important;
    }
}
@media (max-width: 1024px) {
    .set-desc , .set-title {
     width: auto !important;
     
  }
    
}

@media screen and (max-width: 850px) {
  .studyset-wrap {
    .studyset {
      height: auto !important;
      padding: 30px 0;

      .contents {
        flex-direction: column !important;

        .set-icon {
          width: 150px;
          height: 160px;
          margin-left: 0px !important;
          margin-top: 0px !important;

          .background {
            img {
              width: 50%;
            }
          }
        }

        .set-data {
          width: 80% !important;
          flex-direction: column !important;
          margin-top: 0px !important;

          .set-title {
            margin-top: 0px !important;
          }

          .set-desc {
            white-space: initial !important;
            margin-bottom: 10px;
          }
        }

        .creator-data {
          .study-button {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .studyset-wrap {
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    .studyset {
      height: auto !important;
      padding: 30px 0;

      .contents {
        flex-direction: column !important;

        .set-icon {
          width: 150px;
          height: 160px;
          margin-left: 0px !important;
          margin-top: 0px !important;

          .background {
            img {
              width: 50%;
            }
          }
        }

        .set-data {
          width: 80% !important;
          flex-direction: column !important;
          margin-top: 0px !important;

          .set-title {
            margin-top: 0px !important;
          }

          .set-desc {
            white-space: initial !important;
            margin-bottom: 10px;
          }
        }

        .creator-data {
          .study-button {
            width: 100%;
          }
        }
      }
    }
  }

  .sets {
    padding: 0 20px;
  }
}

@media (max-width: 1024px) {
  .studyset-wrap .studyset {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .studyset-wrap .studyset {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .studyset-wrap .studyset .contents {
    gap: 20px !important;
  }
}
